.App {
  width: 90%;
  margin: auto;
}
span {
  padding: 20px;
}
button {
  margin: 10px;
  border-radius: 10%;
  cursor: pointer;
}
button:hover {
  background-color: rgb(155, 41, 41);
  color: white;
}
